<h2>New Mountains</h2>

<form action="/mountains" method="POST">

<p>
<label>Mountain: </label>
<input type="text" name = "mountain">

</p>

<p>
<label>Country: </label>
<input type="text" name = "country">

</p>
<p>
<label>Height: </label>
<input type="text" name = "height">

</p>

<input type="submit" value="Create mountain">

</form>
