<h1>Welcome to the Secret Number Game</h1>

<form action="" method ="GET">

  <input type="number" name = "questiontwo" placeholder = "from 1 to 10">
<input type="submit">

<%if @questiontwo>0 %>
<p>You chose <%= @questiontwo %></p>
<p><%= @randomtwo %></p>
<% end %>



</form>
