<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie Database</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
   <a href="/">Home</a>
   <a href="/about">About</a>
   <a href="/contact">Contact</a>
 <a href="/users">Search Database</a>
 </nav>

 <h1>Amazing Movie Database</h1>

 <div class="yield">
   <p></p>
   <%= yield %>
 </div>

</body>
</html>
