<h1>Movie Database</h1>

<h2>Form for the database</h2>

<form action="/result" method="GET">
  <p>
    <label>"What movie would you like?"</label>
    <input type="text" name="movie_title">
  </p>
    <input type="submit" value="show result">

</form>
